{% extends 'frontend/layouts/app.html' %}

<!-- Block Content -->
{% block content %}

<!-- Content -->
<div class="section-body">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Belajar Alfabet SIBI</h4>
                </div>

                <div class="col-12 col-md-8 col-lg-8">
                    <article class="article article-style-c row justify-content-center">
                        <img src="{{ url_for('static', filename='loading.gif') }}" class="article-image"
                            style="
                                max-width: 300px;
                                margin:auto;
                                padding: auto;
                            " id="playIcon" class="align-center">
                        </img>
                        <div style="position: relative;">
                            <video id="videoElement" autoplay ></video>
                            <canvas id="canvasElement" style="position: absolute; left: 0px; top: 0px;" ></canvas>
                        </div>
                    </article>
                </div>

                <div class="col-12 col-md-4 col-lg-4">
                    <article class="article article-style-c">
                        <div class="article-header">
                            <!-- data-background="{{ url_for('static', filename='templates/img/example-image.jpg') }}"
                                style="
                                    background-image: url({{ url_for('static', filename='templates/img/example-image.jpg') }});
                                "  -->
                            <div class="article-image d-flex justify-content-center align-item-center border border-3 border-primary rounded"
                            style="border: 3px solid #007bff !important;">
                                <h1 id="predictionDisplay" class="my-auto" style="font-size: 100px;"></h1>
                            </div>
                        </div>
                        <div class="article-details">
                            <div class="article-title d-flex">
                                <button id="predictButton" class="btn btn-primary mr-2">Mulai</button>
                                <button id="stopButton" class="btn btn-primary">Berhenti</button>
                                <button disabled="disabled" class="btn btn-warning ml-auto" id="statusDisplayTF">Model</button>
                                <button disabled="disabled" class="btn btn-secondary ml-auto" id="statusDisplay">status</button>
                            </div>
                            <div class="article-category d-flex">
                                <a href="#">Riwayat Kata</a>
                                <button class="badge btn-danger ml-auto" id="removeWordsHistory">Hapus Riwayat</button>
                            </div>
                            <p id="predictionWordsDisplay" style="
                            margin: 5px;
                            padding: 5px;
                            /* width: 500px; */
                            height: 150px;
                            overflow: auto;
                            text-align: justify;
                            ">
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.7.0/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/handpose@0.0.6/dist/handpose.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fingerpose@0.0.2/dist/fingerpose.min.js"></script>

{# include 'frontend/learning/handimage.html' #}
{% include 'frontend/learning/fingerpose.html' %}
{% include 'frontend/learning/handposeutil.html' %}
<script type="module" src="{{ url_for('static', filename='handimage/index.js') }}"></script>

<script>
    const videoElement = document.getElementById('videoElement');
    const canvasElement = document.getElementById('canvasElement');
    const canvasCtx = canvasElement.getContext("2d")
    const photoElement = document.getElementById('photoElement');
    const statusDisplayElement = document.getElementById('statusDisplay');
    const statusDisplayTFElement = document.getElementById('statusDisplayTF');
    const predictionDisplayElement = document.getElementById('predictionDisplay');
    const predictionWordsDisplayElement = document.getElementById('predictionWordsDisplay');
    const startButton = document.getElementById('startButton');
    const stopButton = document.getElementById('stopButton');
    const predictButton = document.getElementById('predictButton');
    const removeWordsHistoryButton = document.getElementById('removeWordsHistory');
    const predictionWordsDisplay = document.getElementById('predictionWordsDisplay');
    const playIcon = document.getElementById('playIcon');
    const netH = handpose.load()
    var streaming = false;
    var net = undefined
    var predictedHandSign = ""
    var misPredict = 0
    var webcamStop = true
    var predictingStat = false
    // Handpose mediapipe code
    let signList = []
    let currentSign = 0

    function tfModelStatusToggleUp() {
        statusDisplayTFElement.classList.remove('btn-warning')
        statusDisplayTFElement.classList.add('btn-success')
    }

    function tfModelStatusToggleDown() {
        statusDisplayTFElement.classList.remove('btn-success')
        statusDisplayTFElement.classList.add('btn-warning')
    }


    netH.then((n) => {
        net = n
        tfModelStatusToggleUp()
        console.log("net was loaded")
        startWebcam()
    })

    async function detect(net) {
        // Check data is available
        if (
            // typeof webcamRef.current !== "undefined" &&
            // webcamRef.current !== null &&
            // webcamRef.current.video.readyState === 4
            net != undefined &&
            net != null
        ) {
            // Get Video Properties
            canvasElement.width = videoElement.videoWidth;
            canvasElement.height = videoElement.videoHeight;
            canvasCtx.drawImage(videoElement, 0, 0);
            const photoDataUrl = canvasElement.toDataURL('image/jpeg');
            const video = videoElement
            const videoWidth = videoElement.videoWidth
            const videoHeight = videoElement.videoHeight
            // canvasCtx.save();
            canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);



            // Make Detections
            const hand = await net.estimateHands(video)
            console.log(hand);
            let resultDetection = undefined;
            if (hand.length > 0) {
                //loading the fingerpose model
                const GE = new fp.GestureEstimator([
                    fp.Gestures.ThumbsUpGesture,
                    aSign,
                    bSign,
                    cSign,
                    dSign,
                    eSign,
                    fSign,
                    gSign,
                    hSign,
                    iSign,
                    jSign,
                    kSign,
                    lSign,
                    mSign,
                    nSign,
                    oSign,
                    pSign,
                    qSign,
                    rSign,
                    sSign,
                    tSign,
                    uSign,
                    vSign,
                    wSign,
                    xSign,
                    ySign,
                    zSign,
                ])

                const estimatedGestures = await GE.estimate(hand[0].landmarks, 6.5)
                // document.querySelector('.pose-data').innerHTML =JSON.stringify(estimatedGestures.poseData, null, 2);

                if (
                    estimatedGestures.gestures !== undefined &&
                    estimatedGestures.gestures.length > 0
                ) {
                    const confidence = estimatedGestures.gestures.map(p => p.confidence)
                    const maxConfidence = confidence.indexOf(
                        Math.max.apply(undefined, confidence)
                    )
                    console.log(estimatedGestures.gestures[maxConfidence].name)
                    resultDetection = estimatedGestures.gestures[maxConfidence]
                } else {
                    console.log("not detected")
                }
            }
            // Draw hand lines
            drawHand(hand, canvasCtx)
            if (resultDetection != undefined) {
                console.log("ini res"); console.log(resultDetection);
                predictionDisplayElement.innerHTML = resultDetection.name
                appendText(predictionWordsDisplayElement, resultDetection.name)
                statusDisplayElement.innerHTML = "prediksi"
                // setTimeout(() => {
                //     if (predictingStat) {
                //         predictHandSign()
                //     }
                // }, 2000);
            } else {
                if (misPredict > 3) {
                    misPredict = 0
                    predictButton.disable = false
                    // console.log("detect(net): " + res);
                    statusDisplayElement.innerHTML = "stop"
                    if (!predictionWordsDisplayElement.innerHTML.endsWith('<br>')) {
                        predictionWordsDisplayElement.innerHTML += '<br>'
                    }
                }
                misPredict++;
            }
        }
    }

    async function runHandpose() {

        // window.requestAnimationFrame(loop);

        // setInterval(() => {
        //     detect(net)
        // }, 150)
        detect(net)
    }

    
    let stream;

    function appendText(e, s) {
        e.innerHTML += s
    }

    async function startWebcam() {
        try {
            stream = await navigator.mediaDevices.getUserMedia({ video: true });
            videoElement.srcObject = stream;
            playIcon.classList.add('d-none');
            videoElement.classList.remove('d-none');
            videoElement.addEventListener("loadeddata", (event) => {
                streaming = true;
                predictingStat = true;
                console.log("")
                setInterval(() => {
                    detect(net)
                }, 150);
            });
            webcamStop = false
        } catch (error) {
            console.error('Error accessing webcam:', error);
        }
    }

    function stopWebcam() {
        // videoElement.classList.add('d-none');
        // playIcon.classList.remove('d-none');
        predictingStat = false
        mediaStream = videoElement.srcObject;
        if (mediaStream) {
            tracks = mediaStream.getTracks();
            if (tracks.length != 0) {
                tracks.forEach(track => track.stop())
                webcamStop = true
                streaming = false
            }
        }
    }

    stopButton.addEventListener('click', stopWebcam);

    function capturePhoto() {
        canvasElement.width = videoElement.videoWidth;
        canvasElement.height = videoElement.videoHeight;
        canvasElement.getContext('2d').drawImage(videoElement, 0, 0);
        const photoDataUrl = canvasElement.toDataURL('image/jpeg');
        // photoElement.src = photoDataUrl;
        // photoElement.style.display = 'block';
        return photoDataUrl
    }

    async function sendPhoto() {
        let formData = new FormData();
        formData.append("photo", capturePhoto())
        statusDisplayElement.innerHTML = "sending"
        const response = await fetch("/learning/predict", {
            method: "POST",
            body: formData,
        });
        resp = await response.json()
        return resp
    }

    function predictHandSign() {
        if (predictingStat) {
            console.log("predicting")
            detect(net).then((res) => {
                if(res != undefined) {
                    console.log("ini res");console.log(res);
                    predictionDisplayElement.innerHTML = res.name
                    appendText(predictionWordsDisplayElement, res.name)
                    statusDisplayElement.innerHTML = "prediksi"
                    // setTimeout(() => {
                    //     if (predictingStat) {
                    //         predictHandSign()
                    //     }
                    // }, 2000);
                } else {
                    if (misPredict > 3) {
                        misPredict = 0
                        predictButton.disable = false
                        // console.log("detect(net): " + res);
                        statusDisplayElement.innerHTML = "stop"
                        if (!predictionWordsDisplayElement.innerHTML.endsWith('<br>')) {
                            predictionWordsDisplayElement.innerHTML += '<br>'
                        }
                    }
                    misPredict++;
                }
            })
        }
        // if (predictingStat) {
        //     resp = sendPhoto()
        //     resp.then((result) => {
        //         statusDisplayElement.innerHTML = "result"
        //         if (result.predicted == true) {
        //             predictButton.disable = true
        //             predictionDisplayElement.innerHTML = result.alphabet
        //             appendText(predictionWordsDisplayElement, result.alphabet)
        //             setTimeout(() => {
        //                 if (predictingStat) {
        //                     statusDisplayElement.innerHTML = "prediksi"
        //                     predictHandSign()
        //                 }
        //             }, 2000);
        //         } else {
        //             // misPredict++;
        //             predictButton.disable = false
        //             if (result.message) {
        //                 alert(result.message)
        //             }
        //             statusDisplayElement.innerHTML = "stop"
        //             if (!predictionWordsDisplayElement.innerHTML.endsWith('<br>')) {
        //                 predictionWordsDisplayElement.innerHTML += '<br>'
        //             }
        //         }
        //     }).catch((err) => {
        //         console.log(err);
        //     });
        // }

    }

    function startLearning() {
        predictingStat = true
        if (webcamStop) {
            startWebcam().then(() => {
                // setTimeout(() => {
                //     statusDisplayElement.innerHTML = "prediksi"
                //     predictHandSign()
                // }, 1000);
            })
        } else {
            // setTimeout(() => {
            //     statusDisplayElement.innerHTML = "prediksi"
            //     predictHandSign()
            // }, 1000);
        }
    }

    function resetHistory() {
        predictionWordsDisplayElement.innerHTML = ""
    }

    // videoElement.addEventListener(
    //     "canplay",
    //     (ev) => {
    //         if (!streaming) {
    //             // height = (video.videoHeight / video.videoWidth) * width;

    //             // video.setAttribute("width", width);
    //             // video.setAttribute("height", height);
    //             // canvas.setAttribute("width", width);
    //             // canvas.setAttribute("height", height);
    //             streaming = true;
    //             // predictingStat = true;
    //             console.log("start Streaming")
    //             // semiRealTimeRequest()
    //         }
    //     },
    //     false,
    // );


    predictButton.addEventListener('click', startLearning);
    removeWordsHistoryButton.addEventListener('click', resetHistory)
</script>
{% endblock %}