<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Artikel</h4>
                <p>
                    Baca artikel-artikel terbaru tentang bahasa isyarat tangan,
                    tips belajar, dan informasi menarik lainnya. Dapatkan
                    wawasan mendalam tentang dunia bahasa isyarat.
                </p>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
                <article class="article article-style-c">
                    <div class="article-header">
                        <div
                            class="article-image"
                            data-background="{{ url_for('static', filename='templates/img/example-image.jpg') }}"
                            style="background-image: url({{ url_for('static', filename='templates/img/example-image.jpg') }});"
                        ></div>
                    </div>
                    <div class="article-details">
                        <div class="article-title">
                            <h2>
                                <a href="#"
                                    >Excepteur sint occaecat cupidatat non
                                    proident</a
                                >
                            </h2>
                        </div>
                        <div class="article-category">
                            <a href="#">News</a>
                            <div class="bullet"></div>
                            <a href="#">5 Days</a>
                        </div>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </article>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
                <article class="article article-style-c">
                    <div class="article-header">
                        <div
                            class="article-image"
                            data-background="{{ url_for('static', filename='templates/img/example-image.jpg') }}"
                            style="
                                background-image: url({{ url_for('static', filename='templates/img/example-image.jpg') }});
                            "
                        ></div>
                    </div>
                    <div class="article-details">
                        <div class="article-title">
                            <h2>
                                <a href="#"
                                    >Excepteur sint occaecat cupidatat non
                                    proident</a
                                >
                            </h2>
                        </div>
                        <div class="article-category">
                            <a href="#">News</a>
                            <div class="bullet"></div>
                            <a href="#">5 Days</a>
                        </div>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </article>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
                <article class="article article-style-c">
                    <div class="article-header">
                        <div
                            class="article-image"
                            data-background="{{ url_for('static', filename='templates/img/example-image.jpg') }}"
                            style="
                                background-image: url({{ url_for('static', filename='templates/img/example-image.jpg') }});
                            "
                        ></div>
                    </div>
                    <div class="article-details">
                        <div class="article-title">
                            <h2>
                                <a href="#"
                                    >Excepteur sint occaecat cupidatat non
                                    proident</a
                                >
                            </h2>
                        </div>
                        <div class="article-category">
                            <a href="#">News</a>
                            <div class="bullet"></div>
                            <a href="#">5 Days</a>
                        </div>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </article>
            </div>

            <div class="col-md-12 text-center mt-3">
                <a
                    href="{{ url_for('web.articles.index') }}"
                    class="btn btn-primary btn-lg"
                    >Lihat Selengkapnya</a
                >
            </div>
        </div>
    </div>
</div>
