<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Belajar SIBI</h4>
                <p>
                    Uji kemampuan bahasa isyarat Anda dalam latihan interaktif
                    dengan fitur real-time. Latihan ini dirancang untuk membantu
                    Anda meningkatkan pemahaman dan kecepatan Anda dalam
                    menggunakan bahasa isyarat
                </p>
            </div>

            <div class="col-md-12 text-center mt-3">
                <a
                    href="{{ url_for('web.learning.index') }}"
                    class="btn btn-primary btn-lg"
                    >Belajar Sekarang</a
                >
            </div>
        </div>
    </div>
</div>
