<div class="card">
    <div class="card-body">
        <div class="row align">
            <div class="col-md-6 text-center">
                <img
                    width="70%"
                    src="{{ url_for('static', filename='home-1.svg') }}"
                    alt=""
                />
            </div>
            <div class="col-md-6">
                <h4>Selamat Datang di Sistem Cerdas Belajar Bahasa Isyarat</h4>
                <p>
                    Di sini, kami mempersembahkan solusi inovatif untuk membantu
                    Anda mempelajari bahasa isyarat tangan dengan mudah dan
                    menyenangkan. Dengan menggunakan teknologi canggih, kami
                    memastikan pengalaman belajar Anda menjadi lebih efektif dan
                    interaktif
                </p>
            </div>

            
        </div>
    </div>
</div>
