{% extends 'frontend/layouts/app.html' %}

<!-- Block Content -->
{% block content %}

<!-- Content -->
<div class="section-body">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Artikel</h4>
                    <p>
                        Baca artikel-artikel terbaru tentang bahasa isyarat
                        tangan, tips belajar, dan informasi menarik lainnya.
                        Dapatkan wawasan mendalam tentang dunia bahasa isyarat.
                    </p>
                </div>

                {% for article in articles %}
                <div class="col-12 col-md-4 col-lg-4">
                    <article class="article article-style-c">
                        <div class="article-header">
                            <div
                                class="article-image"
                                data-background="{{ url_for('static', filename='storage/articles/'+article.image) }}"
                                style="background-image: url({{ url_for('static', filename='storage/articles/'+article.image) }});"
                            ></div>
                        </div>

                        <div class="article-details">
                            <div class="article-title">
                                <h2>
                                    <a
                                        href="{{ url_for('web.articles.show', slug=article.slug_title) }}"
                                    >
                                        {{ article.title }}
                                    </a>
                                </h2>
                            </div>

                            <div class="article-category">
                                <a href="#">{{ article.category.name }}</a>
                                <div class="bullet"></div>
                                <a href="#">
                                    {{ article.created_at.strftime('%d %b %Y')
                                    }}
                                </a>
                            </div>

                            {{ article.content|safe|truncate(100) }}
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
