{% extends 'frontend/layouts/app.html' %}

<!-- Block Content -->
{% block content %}

<!-- Block Styles -->
{% block styles %}

<style>
    .gallery.gallery-md .gallery-item {
        width: 150px;
        height: 150px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .top-0 {
        background-color: #000;
        color: #fff;
        padding: 5px 10px;
        font-size: 14px;
        text-align: center;
        width: 100%; /* Make it as wide as the image */
    }
</style>

{% endblock %}

<!-- Content -->
<div class="section-body">
    <div class="card">
        <div class="card-header">
            <button class="btn btn-dark" onclick="history.back()">
                <i class="fa fa-arrow-circle-left me-0"></i> Kembali
            </button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Kamus Bahasa Isyarat</h4>
                    <p>
                        Temukan berbagai huruf abjad dalam bahasa isyarat
                        tangan. Kamus kami mencakup huruf abjad yang dapat
                        dipraktekan secara realtime dengan kecerdasan buatan
                    </p>
                </div>

                <!-- Item -->
                {% for alphabet in alphabets %}
                <div class="col-md-2">
                    <a
                        href="{{ url_for('web.vocabularies.words', id=alphabet.id) }}"
                    >
                        <div class="card">
                            <div
                                class="card-body"
                                style="width: 150px; height: 150px; background-image: url({{ url_for('static', filename='storage/alphabets/' + alphabet.image) }}); background-size: cover; background-position: center; background-repeat: no-repeat;"
                            ></div>

                            <h4 class="top-0">{{ alphabet.name }}</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}
</div>
