{% extends 'backend/layouts/app.html' %}

<!-- Block Content -->
{% block content %}

<!-- Content -->
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-dark" onclick="history.back()">
                <i class="fa fa-arrow-circle-left me-0"></i> Kembali
            </button>
        </div>
        <div class="card-body">
            <form
                action=""
                method="POST"
                id="formAddArticle"
                enctype="multipart/form-data"
                class="needs-validation"
                novalidate
            >
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="title">Judul</label>
                            <input
                                id="title"
                                type="text"
                                class="form-control"
                                name="title"
                                required
                            />
                            <div class="invalid-feedback">
                                Please fill in your title
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title">Kategori</label>
                            <select
                                id="category_id"
                                name="category_id"
                                class="form-control select2"
                                required
                            >
                                <option value="" disabled selected>
                                    -- Pilih Kategori --
                                </option>

                                {% for category in categories %}
                                <option value="{{ category.id }}">
                                    {{ category.name }}
                                </option>
                                {% endfor %}
                            </select>

                            <div class="invalid-feedback">
                                Please fill in your category
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title">Status</label>
                            <select
                                id="status"
                                name="status"
                                class="form-control select2"
                                required
                            >
                                <option value="" disabled selected>
                                    -- Pilih Status --
                                </option>
                                <option value="published">Published</option>
                                <option value="draft">Draft</option>
                            </select>

                            <div class="invalid-feedback">
                                Please fill in your category
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="content">Konten</label>
                            <textarea
                                id="content"
                                name="content"
                                class="form-control summernote"
                                required
                            ></textarea>

                            <div class="invalid-feedback">
                                Please fill in your Content
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="image">Thumbnail</label>
                            <input
                                id="image"
                                type="file"
                                class="dropify"
                                name="image"
                            />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <button
                            type="button"
                            class="btn btn-dark"
                            onclick="history.back()"
                        >
                            <i class="fa fa-arrow-circle-left me-0"></i>
                            Kembali
                        </button>
                        <button
                            type="submit"
                            class="btn btn-primary"
                            id="btnSubmitArticle"
                        >
                            <i class="fa fa-save me-0"></i>
                            Simpan Artikel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- End Content -->
{% endblock %}

<!-- Scripts -->
{% block scripts %}

<script>
    $(document).ready(function () {
        $("#btnSubmitArticle").click(function (e) {
            e.preventDefault();
            $(this).attr("disabled", true);

            $.ajax({
                url: "{{ url_for('admin.articles.store') }}",
                type: "POST",
                contentType: false,
                cache: false,
                processData: false,
                data: new FormData($("#formAddArticle")[0]),
                success: function (response) {
                    if (response.status) {
                        Swal.fire("Success", response.message, "success").then(
                            () => {
                                window.location.href =
                                    "{{ url_for('admin.articles.index') }}";
                            }
                        );
                    } else {
                        $("#btnSubmitArticle").attr("disabled", false);
                        Swal.fire("failed", res.message, "error");
                        console.log(res.message);
                    }
                },
                error: function (err) {
                    $("#btnSubmitArticle").attr("disabled", false);
                    console.log(err);
                },
            });
        });
    });
</script>

{% endblock %}
