<div class="main-sidebar">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="">SI SIBI</a>
        </div>

        <div class="sidebar-brand sidebar-brand-sm">
            <a href="">SIBI</a>
        </div>

        <ul class="sidebar-menu">
            <li class="menu-header">Navigation Menu</li>
            <li
                class="{{ 'active' if request.path.split('/')[2] == '' else '' }}"
            >
                <a class="nav-link" href="{{ url_for('admin.index') }}">
                    <i class="fas fa-home"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li
                class="{{ 'active' if request.path.split('/')[2] == 'categories' else '' }}"
            >
                <a
                    class="nav-link"
                    href="{{ url_for('admin.categories.index') }}"
                >
                    <i class="fas fa-list-alt"></i>
                    <span>Kategori</span>
                </a>
            </li>

            <li
                class="{{ 'active' if request.path.split('/')[2] == 'articles' else '' }}"
            >
                <a
                    class="nav-link"
                    href="{{ url_for('admin.articles.index') }}"
                >
                    <i class="fas fa-list-alt"></i>
                    <span>Artikel</span>
                </a>
            </li>

            <li
                class="dropdown {{ 'active' if request.path.split('/')[2] == 'vocabularies' else '' }}"
            >
                <a
                    href="#"
                    class="nav-link has-dropdown"
                    data-toggle="dropdown"
                >
                    <i class="fas fa-columns"></i>
                    <span>Kosa Kata</span>
                </a>
                <ul class="dropdown-menu" style="display: none">
                    <li
                        class="{{ 'active' if request.path.split('/')[3] == 'alphabets' else '' }}"
                    >
                        <a
                            class="nav-link"
                            href="{{ url_for('admin.vocabularies.alphabets.index') }}"
                            >Abjad</a
                        >
                    </li>

                    <li
                        class="{{ 'active' if request.path.split('/')[3] == 'affixes' else '' }}"
                    >
                        <a
                            class="nav-link"
                            href="{{ url_for('admin.vocabularies.affixes.index') }}"
                            >Imbuhan</a
                        >
                    </li>

                    <li
                        class="{{ 'active' if request.path.split('/')[3] == 'numbers' else '' }}"
                    >
                        <a
                            class="nav-link"
                            href="{{ url_for('admin.vocabularies.numbers.index') }}"
                            >Angka</a
                        >
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</div>
