<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Kata Imbuhan</h4>
                <p>
                    Pelajari penggunaan imbuhan dalam bahasa isyarat tangan
                    untuk membentuk kata kerja, kata benda, atau kata sifat.
                    Kamus kami mencakup imbuhan seperti awalan, akhiran, dan
                    gabungan imbuhan yang dapat Anda pelajari secara interaktif
                    dan dipraktikkan secara realtime dengan bantuan kecerdasan
                    buatan.
                </p>
            </div>

            <!-- Item -->
            {% for affix in affixes %}
            <div class="col-md-4">
                <video
                    id="my-video-1"
                    class="video-js vjs-default-skin"
                    controls
                    preload="auto"
                    width="350"
                    height="264"
                    data-setup='{"techOrder": ["youtube"], "sources": [{"type": "video/youtube", "src": "{{ affix.video_link }}"}]}'
                >
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and
                        consider upgrading to a web browser that
                        <a
                            href="https://videojs.com/html5-video-support/"
                            target="_blank"
                            >supports HTML5 video</a
                        >
                    </p>
                </video>
            </div>
            {% endfor %}

            <div class="col-md-12 mt-2 text-center">
                <a
                    href="{{ url_for('web.vocabularies.index') }}"
                    class="btn btn-primary btn-md"
                    >Lihat Selengkapnya</a
                >
            </div>
        </div>
    </div>
</div>
