<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Kamus Bahasa Isyarat</h4>
                <p>
                    Temukan berbagai huruf abjad dalam bahasa isyarat tangan.
                    Kamus kami mencakup huruf abjad yang dapat dipraktekan
                    secara realtime dengan kecerdasan buatan
                </p>
            </div>

            {% for alphabet in alphabets %}
            <div class="col-md-2">
                <a
                    href="{{ url_for('web.vocabularies.words', id=alphabet.id) }}"
                >
                    <div class="card">
                        <div
                            class="card-body text-center"
                            style="width: 150px; height: 150px; background-image: url({{ url_for('static', filename='storage/alphabets/' + alphabet.image) }}); background-size: cover; background-position: center;"
                        ></div>

                        <h4 class="top-0">{{ alphabet.name }}</h4>
                    </div>
                </a>
            </div>
            {% endfor %}

            <div class="col-md-12 text-center">
                <a
                    href="{{ url_for('web.vocabularies.alphabets') }}"
                    class="btn btn-primary btn-md"
                    >Lihat Selengkapnya</a
                >
            </div>
        </div>
    </div>
</div>
