<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Angka</h4>
                <p>
                    Kenali berbagai angka dalam bahasa isyarat tangan, mulai
                    dari nol hingga angka besar. Kamus kami membantu Anda
                    memahami penggunaan angka dalam konteks seperti menghitung,
                    menyebutkan waktu, atau nomor telepon, dengan simulasi
                    gerakan tangan yang dapat dipraktikkan secara realtime
                    melalui teknologi kecerdasan buatan.
                </p>
            </div>

            {% for number in numbers %}
            <div class="col-md-4">
                <video
                    id="number-video-{{ number.id }}"
                    class="video-js vjs-default-skin"
                    controls
                    preload="auto"
                    width="350"
                    height="264"
                    data-setup='{"techOrder": ["youtube"], "sources": [{"type": "video/youtube", "src": "{{ number.video_link }}"}]}'
                ></video>

                <div class="video-overlay">{{ number.name }}</div>
            </div>
            {% endfor %}

            <div class="col-md-12 mt-2 text-center">
                <a
                    href="{{ url_for('web.vocabularies.numbers') }}"
                    class="btn btn-primary btn-md"
                    >Lihat Selengkapnya</a
                >
            </div>
        </div>
    </div>
</div>
