<!-- General JS Scripts -->
<script src="{{ url_for('static', filename='templates/library/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='templates/library/popper.js/dist/umd/popper.js') }}"></script>
<script src="{{ url_for('static', filename='templates/library/tooltip.js/dist/umd/tooltip.js') }}"></script>
<script src="{{ url_for('static', filename='templates/library/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='templates/library/jquery.nicescroll/dist/jquery.nicescroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='templates/library/moment/min/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='templates/js/stisla.js') }}"></script>

<!-- JS Libraies -->
<script src="{{ url_for('static', filename='templates/library/chocolat/dist/js/jquery.chocolat.min.js') }}"></script>

{% block scripts %} {% endblock %}

<!-- Template JS File -->
<script src="{{ url_for('static', filename='templates/js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='templates/js/custom.js') }}"></script>
