<!-- General CSS Files -->
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='templates/library/bootstrap/dist/css/bootstrap.min.css') }}"
/>

<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>

<link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />

<!-- CSS Libraries -->
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='templates/library/chocolat/dist/css/chocolat.css') }}"
/>

{% block styles %} {% endblock %}

<!-- Template CSS -->
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='templates/css/style.css') }}"
/>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='templates/css/components.css') }}"
/>

<style>
    .video-overlay {
        position: absolute;
        top: 20px;
        left: 30px;
        background: black;
        color: white;
        padding: 5px 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        border-radius: 3px;
        z-index: 10; /* Ensure it appears above the video */
    }
</style>
