<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
            name="viewport"
        />
        <title>Login Page - SI SIBI</title>

        <!-- Include Partials Styles -->
        {% include 'backend/layouts/partials/styles.html' %}
    </head>

    <body>
        <div id="app">
            <section class="section">
                <div class="container mt-5">
                    <div class="row">
                        <div
                            class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
                        >
                            {% include 'errors/flashdata.html' %}
                            <div class="card card-primary">
                                <div
                                    class="card-header"
                                    style="justify-content: center"
                                >
                                    <h4>Login</h4>
                                </div>

                                <!-- {{ password }} -->

                                <div class="card-body">
                                    <form
                                        method="POST"
                                        action="{{ url_for('auth.do_login') }}"
                                        class="needs-validation"
                                        novalidate=""
                                    >
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input
                                                id="email"
                                                type="email"
                                                class="form-control"
                                                name="email"
                                                tabindex="1"
                                                required=""
                                                autofocus=""
                                            />
                                            <div class="invalid-feedback">
                                                Please fill in your email
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="d-block">
                                                <label
                                                    for="password"
                                                    class="control-label"
                                                    >Password</label
                                                >
                                            </div>
                                            <input
                                                id="password"
                                                type="password"
                                                class="form-control"
                                                name="password"
                                                tabindex="2"
                                                required=""
                                            />
                                            <div class="invalid-feedback">
                                                please fill in your password
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div
                                                class="custom-control custom-checkbox"
                                            >
                                                <input
                                                    type="checkbox"
                                                    name="remember"
                                                    class="custom-control-input"
                                                    tabindex="3"
                                                    id="remember-me"
                                                />
                                                <label
                                                    class="custom-control-label"
                                                    for="remember-me"
                                                    >Remember Me</label
                                                >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button
                                                type="submit"
                                                class="btn btn-primary btn-lg btn-block"
                                                tabindex="4"
                                            >
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {% block scripts %}
        <script>
            $("#show_hide_password a").on("click", function (event) {
                event.preventDefault();
                if ($("#show_hide_password input").attr("type") == "text") {
                    $("#show_hide_password input").attr("type", "password");
                    $("#show_hide_password i").addClass("fa-eye-slash");
                    $("#show_hide_password i").removeClass("fa-eye");
                } else if (
                    $("#show_hide_password input").attr("type") == "password"
                ) {
                    $("#show_hide_password input").attr("type", "text");
                    $("#show_hide_password i").removeClass("fa-eye-slash");
                    $("#show_hide_password i").addClass("fa-eye");
                }
            });
        </script>
        {% endblock %}

        <!-- Include Partials Scripts -->
        {% include 'backend/layouts/partials/scripts.html' %}
    </body>
</html>
